@charset "utf-8";
/* CSS Document */


#main{
	width:350px;
	max-width:350px;
	background:#EFEFEF;
	border:2px solid #E1E1E1;
	padding:18px;
	margin-top:10%;
	margin-left:35%;
	height:auto;}

#login{
	width:310px;
	max-width:310px;
	height:auto;
	border:0px solid #000;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;}

.text{
	font-size:32px;
	font-family:Arial, Helvetica, sans-serif;}
.htext{
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	}
	
.user{
	font-size:18px;
	text-align:center;
	border:1px solid #E1E1E1;
	padding:12px; 
	width:283px;}
	
.btn-login{
	color:#FFF;
	background:#F24800;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	border:1px solid #E1E1E1;
	padding:12px;
	width:308px;
	cursor:pointer;
	}
	
.copy{
	color:#999;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;}